/* Home.css */
.home-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.search-for-term {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.search-for-term a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    width: 100%; /* Make the link expand to the full width of its container */
    text-align: center;
    padding: 10px;
}

.search-for-term a:hover {
    color: var(--primary-color);
}